---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <div class="corner-ribbon top-right sticky blue"><a id="bannerSignupButton" href="#">Beta Signup</a></div>
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:2rem;font-weight:300;font-family:Komika;">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300;font-family:Komika;">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a id="pageSignupButton" class="btn" href="#">
                         Sign up for Beta
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">
    $(window).load(function() {
        document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    });
    $('body').on('click', '.mc-closeModal', function() {
        document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    });
    require(["mojo/signup-forms/Loader"],
        function(L) {
            var openSignupButton = function(){
                    L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"115dc4e29d4911803aa15d44d","lid":"bb312009dc"});
                };
            document.getElementById('pageSignupButton').onclick = openSignupButton;
            document.getElementById('bannerSignupButton').onclick = openSignupButton;
        }
    )
    </script>
</body>
</html>
